{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}InnovComputer{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'tailwind/output.css' %}">
    <link rel="shortcut icon" href="{% static 'image/bot_200px.png' %}" type="image/x-icon">
</head>
<body class="bg-gray-100 text-gray-800">

    <main class="mt-0">
        {% block content %}
        {% endblock %}
    </main>

    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>
